@model IEnumerable<TradeEngine.Entities.Trade>

<div style="overflow-y:auto; max-height:41em">
    <table class="table table-sm table-bordered" style="margin-bottom:auto">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TradeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TradeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instrument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuySell)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TradeStatus)
                </th>
                <th style="width:auto">Change</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TradeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TradeType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instrument)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuySell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TradeStatus)
                    </td>

                    <td style="width:auto" align="center">
                        @if (item.TradeStatus == "NEW")
                        {
                            <i class="fa fa-minus" style="font-size:12px; color:dodgerblue"></i>
                        }
                        else if (item.TradeStatus == "AMEND" && item.Quantity < 0)
                        {
                            <i class="fa fa-caret-down" style="font-size:32px; color:orangered"></i>
                        }
                        else if (item.TradeStatus == "AMEND" && item.Quantity >= 0)
                        {
                            <i class="fa fa-caret-up" style="font-size:32px;color:limegreen"></i>
                        }
                        else if (item.TradeStatus == "AGGREGATED")
                        {
                            <i class="fa fa-plus-circle" style="font-size:20px;color:dodgerblue"></i>
                        }
                        else if (item.TradeStatus == "PRICED")
                        {
                            <i class="fa fa-check-circle" style="font-size:20px;color:limegreen"></i>
                        }
                        else if (item.TradeStatus == "IGNORED")
                        {
                            <i class="fa fa-times-circle" style="font-size:20px;color:lightgray"></i>
                        }
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TradeId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TradeId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TradeId })
                        </td>*@
                </tr>
            }
        </tbody>

    </table>
</div>

